


// Bootstrap Variables
/***********************************
variables in sass
************************************/
// $border-bot: 1px solid #CBCCC9;
// $border-right: 1px solid #E1E3DF;
// $border-left: 1px solid #E1E3DF;
// $border-right: 1px solid #E1E3DF;
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 0px;
#wrappers-delight {
  margin: 0;
  padding: 0;
}

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';



body {
  background-color: #F6F5F1;
}
.form-control {

}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-color: white;

}

/************************************
  Nav Bar
************************************/
.top-header {
  height: 82px;
}

.nav-bar {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
}
/************************************
  Logo (left side nav)
************************************/
.logo{
  display: inline-block;
  margin-left: 3%;
  margin-right: 15px;
}

#etsy-logo {
  height: 35px;
  display: inline-block;
}
/************************************
    search bar, wrapper, button
************************************/
.left-nav {
  display: inline-block;
  margin-top: 25px;
  width: 50%;
}

.search-wrapper {
  display: inline-block;
}

.search-bar {
  display: inline-block;
  width: 350px;
  background-color: #FBFBFA;
  margin-right: -4px;
  height: 28px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #CFCBC8;
}

.search-button {
  color: white;
  background-color: #00ABC5;
  border: 1px solid #00ABC5;
  padding: 3px 13px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/************************************
Right side nav (sign in button, links, car)
************************************/

.btn-default:hover {
    color: #0192B5 ;
    background-color: white;
    border-color: #0192B5;
}

.sign-button {
  color: #0192B5;
  border-color: #0192B5;

  .sign-button:hover {
    background-color: #fff;
    color: #0192B5;
  }
}

.navlink {
  color: #0192B5;
  padding-right: 20px;

    a:focus {
    text-decoration: none;
  }

}


.links-button {
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #eee;
}

.cart {
  position: relative;
  top: 16px;
  height: 60px;
  margin-left: 14px;
  color: #666666;
  display: inline-block;

}

.carting {
  color: #888888;
}



.cart:hover {
  color: black;
}

.cart:hover {
  color: black;
  .carting {
    color: black;
  }
}

.right-side-of-nav {
  display: inline-block;
  float: right;
  margin-right: 55px;
}

/************************************
Right side nav (sign in button, links, car)
************************************/

.bottom-nav {
  height: 40px;
  border-top: 1px solid #d2d2d2;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 6px -7px #d2d2d2;
}

.nav-listers {
  margin: 0 auto;
  width: 100%;
}
.nav-listers > li {
  display: inline;

  list-style: none;

  margin-right: 20px;
  a {
    color: #777777;
  }

  a:hover {
    text-decoration: none;
  }
}
/************************************
top of product and aside headings
************************************/
#cats {
  font-size: 18px;
  margin-top: -4px;
}

#results {
  font-size: 12px;
  font-weight: bold;
}


/************************************
  Picture styling (template aid)
************************************/
.product-contain {
  //margin: 0px;
  // padding-top: 60px;
  // padding-left: 75px;
}
.picture {
  //position: relative;
  //margin: 5px;
  margin-bottom: 20px;
  height: 100%;
  width: 93%;
  border-bottom: 1px solid #CBCCC9;
  border-right: 1px solid #E1E3DF;
  border-left: 1px solid #E1E3DF;
  border-top: 1px solid #E1E3DF;
}

.labeller {
  //position: absolute;
  //width: 100%;
  overflow: hidden;
  background-color: white;
  top: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 6px;

    .pic-label {
      font-size: 12px;
    }

    .artist {
      font-size: 10px;
      color: #9A9A9A;
    }

    .prices {
      color: #78C042;
      font-size: 12px;
      float: right;
    }
}

.photo {
  width:100%;

}

// .pix {
//   margin: 0;
//   width: 254px;
// }

.pic-content {
  padding-top: 42px;
  padding-left: 70px;
}

/************************************
  Aside Nav Options
************************************/
.aside {
  //float:left;
  display: inline-block;
  background-color: #fff;
  width: 232px;
  // margin-left: 35px;
  // margin-top: 60px;
  border-bottom: 1px solid #CBCCC9;
  border-right: 1px solid #E1E3DF;
  border-left: 1px solid #E1E3DF;
  border-top: 1px solid #E1E3DF;
}

.aside-title {
  padding-top: 4px;
  padding-left: 10px;
}

.left-aside {
  padding-top: 42px;
  padding-left: 40px;

}
.options-aside {
  padding-left: 18px;
  color: #0192B5;
  font-size: 12px;
  li {
    list-style: none;
    padding: 3px;
    color: #0192B5;
  }
}

.opt-li > a {
  color: #0192B5;
}
.opt-li:hover{
  color: #0192B5;

}

/***********************
2nd aside column styling
***********************/

.aside-title-shop {
  padding-top: 4px;
  padding-left: 10px;
  color: #444444;
}

.locale {
  padding-left: 18px;
  color: #0192B5;
  bottom-margin: 0px;
}
.results {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0;
  display: inline-block;
  margin-top: 15px;
}
.refinery {
  height: 50px;
}

.chooser {
  border-bottom: 1px solid #E1E3DF;
}

.typers {
  border-bottom: 1px solid #E1E3DF;
}
/** what to dooooooo
//text overflow elipses
//whitespace no wrap
//absolute off
//set margins of each row
**/
