
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 0px;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #F6F5F1;
}
.form-control {

}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background-color: white;

}

/************************************
  Nav Bar
************************************/
.top-header {
  height: 82px;
}

.nav-bar {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
}
/************************************
  Logo (left side nav)
************************************/
.logo{
  display: inline-block;
  margin-left: 3%;
  margin-right: 15px;
}

#etsy-logo {
  height: 35px;
  display: inline-block;
}
/************************************
    search bar, wrapper, button
************************************/
.search-wrapper {
  display: inline-block;
}

.search-bar {
  display: inline-block;
  width: 350px;
  background-color: #FBFBFA;
  margin-right: -4px;
  height: 28px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-button {
  color: white;
  background-color: #00ABC5;
  border: 1px solid #00ABC5;
  padding: 3px 13px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/************************************
Right side nav (sign in button, links, car)
************************************/
.sign-button {
  color: #0192B5;
  border-color: #0192B5;
}

.navlink {
  color: #0192B5;
}

.links-button {
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #eee;
}

.cart {
  position: relative;
  top: 16px;
  margin-left: 14px;
  color: #666666;
  display: inline-block;
    .cart:hover {
      color: #888;
    }
}

.carting {
  color: #888888;
}

.right-side-of-nav {
  display: inline-block;
  float: right;
  margin-right: 55px;
}
.left-nav {
  display: inline-block;
  margin-top: 25px;
  width: 50%;
}
.bottom-nav {
  height: 40px;
  border-top: 1px solid #d2d2d2;

}

.nav-listers {
  vertical-align: middle;
}
.nav-listers > li {
  display: inline;

  list-style: none;

  margin-right: 20px;
  a {
    color: #777777;
  }
}

/************************************
  Picture styling (template aid)
************************************/
.picture {
  //position: relative;
  margin: 12px auto;
  height: 230px;
  width: 238px;
}

.labeller {
  //position: absolute;
  width: 100%;
  overflow: hidden;
  background-color: white;
  top: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;

    .pic-label {
      font-size: 12px;
    }

    .artist {
      font-size: 10px;
      color: #9A9A9A;
    }

    .prices {
      color: #78C042;
      font-size: 12px;
      float: right;
    }
}

.photo {
  width: 238px;

}

/************************************
  Aside Nav Options
************************************/
.aside {
  float:left;
  display: inline-block;
  height: 500px;
  background-color: #fff;
}
/** what to dooooooo
//text overflow elipses
//whitespace no wrap
//absolute off
//set margins of each row
**/
